body {
    margin: 0;
    width: 100%;
}

nav {
    height: 30px;
    width: 100%;
    border: 1px solid green;
    position: sticky;
    left: 0;
}

section {
    max-width: 90vw;
    width: 100%;
    margin: auto;
}

header, footer {
    height: 600px;
    border: 1px solid red;
    width: 100%;
}

.content {
    display: block;
    height: auto;
    width: 100%;
    overflow-x: auto;
    border: 1px solid black;
}

article {
    width: 150vw;
}

.content div {
    border: 1px solid blue;
}

.scroll-container {

}

.float-scroll {
    position: sticky;
    bottom: 0;
    overflow-x: auto;
}

.float-scroll > .inner {
    width: 150vw;
    height: 1px;
    border: 1px solid transparent;
}

.hide {
    visibility: hidden;
    height: 0;
}
