body {
  margin: 0;
  width: 100%;
}

section {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

header, footer {
  height: 600px;
  border: 1px solid red;
  width: 100%;
}

.wide-content {
  width: 800px;
}

td {
  height: 200px;
  border: 1px solid blue;
  text-align: center;
}

#scrollable {
  display: block;
  height: auto;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
  border: 1px solid black;
}


#sticky-scroll {
  position: sticky;
  bottom: 0;
  overflow-x: auto;
}

#sticky-scroll-content {
  height: 1px;
  border: 1px solid transparent;
}

.hide {
  visibility: hidden;
  height: 0;
}
